@model IEnumerable<string>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
    Pick your category:
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Category
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item
            </td>
            <td>
                @Html.ActionLink("Choose", "Category", new { category=@item })
            </td>
        </tr>
}
    </tbody>
</table>
