@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>What would you like to do today?</p>
    <div class="btn-group" role="group" aria-label="Actions">
        <button onclick="window.location.href='Meal'" type="button" class="btn btn-primary">Create Meal</button>
        <button onclick="window.location.href='ServedMeal'" type="button" class="btn btn-danger">Insert a Served Meal</button>
        <button onclick="window.location.href='Meal/SavedMeals'" type="button" class="btn btn-secondary">My Saved Meals</button>
        <button onclick="window.location.href='MealChart'" type="button" class="btn btn-secondary">Meal Chart</button>
    </div>
</div>

