@{
    ViewData["Title"] = "Diet_Diary";
}
<h1>@ViewData["Title"]</h1>
<h2>Projekt uczelniany ATH | 2023</h2>
<p>
    Autorzy:
    <ul>
        <li>Cypcer Mateusz</li>
        <li>Herma Paweł</li>
        <li>Ryczko Filip</li>
        <li>Rzadek Adrian</li>
    </ul>

</p>
